/*
 All integrations are namespaced with the class `<integration_name>-integration`.  When creating custom
 css to style your integration you should ensure that all your classes are appropriately namespaced to prevent
 your css from affecting other integrations.
*/
.poolparty-integration div.definition , .poolparty-integration div.concept-details{
    word-break:normal;
    padding-left: 5px;
}

.poolparty-integration table.concepts{
    border-collapse: collapse;
    width: 100%;
}

.poolparty-integration tr.concept-block h1{
    margin: 0px;
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    font-size: 1.1em;
    font-weight: bold;
}

.poolparty-integration i.bt-external-link{
    font-size: 8px;
    color: #5cb85c;
    vertical-align: baseline;
}

.poolparty-integration div.concept-details {
    margin-top: 5px;
}

.poolparty-integration div.concept-details h2{
    margin: 0px;
    margin-left: 10px;
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, 0.06);
    font-size: 1em;
}

.poolparty-integration div.concept-details ul{
    padding: 0;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 5px;
}

.poolparty-integration div.concept-details ul > li{
    list-style-type: none;
    display: inline;
    padding-right: 3px;
}

.poolparty-integration div.concept-details ul > li:after {
    content: ','
}

.poolparty-integration div.concept-details ul > li:last-of-type:after {
    content:''
}