.poolparty-integration div.definition , .poolparty-integration div.concept-details{
    word-break:normal;
}

.poolparty-integration table.concepts{
    border-collapse: collapse;
}

.poolparty-integration tr.concept-block > td{
    border: 1px solid rgba(0,0,0,.05);
}

.poolparty-integration i.bt-external-link{
    font-size: 8px;
    color: #5cb85c;
    vertical-align: baseline;
}

.poolparty-integration div.concept-details {
    margin-top: 5px;
}

.poolparty-integration div.concept-details h1{
    margin: 0px;
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    font-size: 1em;
}

.poolparty-integration div.concept-details ul{
    padding: 0;
    margin: 0;
}

.poolparty-integration div.concept-details ul > li{
    list-style-type: none;
    display: inline;
    padding-right: 3px;
}

.poolparty-integration div.concept-details ul > li:after {
    content: ','
}

.poolparty-integration div.concept-details ul > li:last-of-type:after {
    content:''
}