<div class="padding-0-5">
    <p class="padded">
        <a href="{{block.data.details.uri}}">View in PoolParty <i class="btb bt-external-link"></i></a>
    </p>
</div>
<div class="definition">
    {{block.data.details.definition}}
</div>
<h2>OCR Text</h2>
<div class="definition">
    {{block.data.details.ocrText}}
</div>